@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background-color: whitesmoke;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    background: #0d1b2a;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 20px 8px #1b263b;
}

.btn-delete {
    background: #F15152;
    color: #222823;
    border: none;
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 80px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10%;
    transition: ease-in 0.05s;
}

.btn-clear {
    background: #EDB183;
    color: #222823;
    border: none;
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 80px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10%;
    margin: 3px;
    transition: ease-in 0.05s;
}

.btn-top:hover {
    background: #F4D8CD;
    transform: translateY(-0.1rem);
}

#top-buttons {
    margin-left: 19%;
}

.btn {
    background: #F4F7F5;
    color: #0d1b2a;
    border: none;
    cursor: pointer;
    outline: none;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10%;
    margin: 3px;
    transition: ease-in 0.05s;
}

#display {
    background: #F4F7F5;
    margin: 5px;
    border-radius: 10px;
    text-align: right;
    font-weight: bold;
    padding: 20px;
    font-size: 35px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn:hover {
    background: #778da9;
    transform: translateY(-0.1rem);
}

.selected {
    background: #a9def9;
    transform: translateY(-0.1rem);
}

footer {
    position: absolute;
    bottom: 0;
    left: 45%;
    margin-bottom: 20px;
    font-size: 20px;
}

#github-logo {
    width: 25px;
    transition: ease-out 0.1s;
}

#github-logo:hover {
    width: 35px;
}